<div class="panel-heading"><%= user.name %> <%= user.last_name %>'s Biography</div>

<div class="panel-body">
      
  <div class="input-group">
    <%= form_for :volunteer, url: bio_update_path, method: :patch, remote: true do |f| %>
    <%= f.text_field :bio, value: "#{user.bio}", class:"form-control" %>
    <input type="hidden" name="id" value="<%=user.id%>">
    <span class="input-group-btn">
      <%= f.submit 'update', class:"btn btn-primary" %>
    </span>
    <% end %>
  </div>         
</div>