<!-- watched events -->

<div class = "v_sorted">
  
<div class = "container">
  
<% if @past_events.any? %>
<h3><%= @past_title %></h3>
  <% @past_events.each do |event| %>

  
  <div class="one_event row">  
    
    
  <div class="event_pic col-md-6">
        <%= link_to (image_tag event.avatar.url(:medium), size: '250x250'), event_path(event) %>   
  </div>
  
  
  <div class="col-md-6">
             
      <div>
        <br>
         <br>
        <%= event.name %>   
      </div>
      <div>
        <%= event.description %>   
      </div>
  
      <div>
        <%= event.start.to_formatted_s(:short) %>   
         <br>
         <br>
      </div>
      
      <!-- display 'Opt out' btn on user's profile -->
      <div>   
        <%= button_to 'Event page', event_path(event),
              method: :get, class: "btn btn-danger"%>
      </div> 
      <!-- end display 'Opt out' btn on user's profile -->
    
      </div>
    
       </div>  

         <br>
    <% end %>     
       </div> 

    
  <% end %>

</div> 


