<!-- watched events -->

<div class = "v_sorted">
  
<div class = "container">
  
<% if @past_events.any? %>
  <div class=v_e_search_bar>  <h1><%= @past_title %></h1> </div>
   <br>
  <% @past_events.each do |event| %>

  
  <div class="one_event row">  
    
    
  <div class="yyyyy_pic col-md-4">
        <%= link_to (image_tag event.avatar.url(), size: '400x400'), event_path(event) %>   
  </div>
  
  
  <div class="col-md-8">
             
      <div>
        <br>
         <br>
        <%= event.name %>   
      </div>
      <div>
        <%= event.description %>   
      </div>
  
      <div>
        <%= event.start.to_formatted_s(:short) %>   
         <br>
         <br>
      </div>
      
      <!-- display 'Opt out' btn on user's profile -->
      <div>   
        <%= button_to 'Event page', event_path(event),
              method: :get, class: "btn btn-danger"%>
      </div> 
      <!-- end display 'Opt out' btn on user's profile -->
    
    <br>
          <br><br>
          <br>
      </div>
    
       </div>  

         
    <% end %>    
  <br>
  <br>
       </div> 
<br><br><br><br><br><br>
      <% else %> 
    
 
 <div class="v_e_search_bar">
  <h1>You have no events here</h1><%= link_to "search for an event",  events_path%>
  </div>
     <br>
  
     <%=  link_to image_tag('volunteer-bg/empty_corp2.jpg',size: '1135x350'),events_path %>
     <br>
    <br>
   <%=  link_to image_tag('volunteer-bg/empty_corp3.jpg',size: '1135x350'),events_path %>
    <br>
   <br>
   <%=  link_to image_tag('volunteer-bg/empty_corp5.jpg',size: '1135x350'),events_path %>
    <br>
    <br>
   <%=  link_to image_tag('volunteer-bg/empty_corp6.jpg',size: '1135x350'),events_path %>
    <br>
    <br>
   <br>
    <br>
    <br>
  <% end %>

</div> 


