<div class = "v_sorted">

<!-- watched events -->
<div class="container">
<div class="col-md-12">
  
<% if @watch_events.any? %>
  <div class=v_e_search_bar> <h1><%= @watch_title %></h1> </div>
   <br>
  <% @watch_events.each do |event| %>
        <div class="one_event row">  
       <div class="yyyyy_pic col-md-4">
        <%= link_to (image_tag event.avatar.url(:medium), size: '200x200'), event_path(event)  %>   
      </div>
  
  
      <div class="col-md-8">
      <div>
        <br>
         <br>
        <%= event.name %>   
      </div>
      <div>
        <%= event.description %>   
      </div>
  
      <div>
        <%= event.start.to_formatted_s(:short) %>   
       
      </div>
       
      <br>
      <% if current_user?(@user) %>
      <!-- display 'Opt out' btn on user's profile -->
        <div>   
        <%= form_for(current_user.event_volunteers.find_by(event_id: event.id), 
              html: { method: :patch }) do |f| %>
          <div>
            <%= hidden_field_tag :attending, "false" %>
          </div>
          <%= f.submit "Remove from watchlist", class: "btn btn-danger" %>
         
        <% end %>
           <br>
        
          
        </div>
        
       
        <div>
        <%= form_for(current_user.event_volunteers.build) do |f| %>
          <div>
            <%= hidden_field_tag :event_id, event.id %>
            <%= hidden_field_tag :attending, "true" %>
          </div>
          <%= f.submit "Attend", class: "btn btn-primary" %>
         
        <% end %>
           <br>
        </div>
       <% end %>
       
      <!-- end display 'Opt out' btn on user's profile -->
         
        
          </div>
          <br><br>
    </div> 
    <% end %>
        <br><br><br><br><br><br>
  <% else %> 
   <div class="v_e_search_bar">
     <h1>You have no events here</h1><%= link_to "(find out more below)",  events_path%>
  </div>
     <br>
      <%=  link_to image_tag('volunteer-bg/empty_corp2.jpg',size: '1135x350'),events_path %>
     <br>
    <br>
   <%=  link_to image_tag('volunteer-bg/empty_corp3.jpg',size: '1135x350'),events_path %>
    <br>
   <br>
   <%=  link_to image_tag('volunteer-bg/empty_corp5.jpg',size: '1135x350'),events_path %>
    <br>
    <br>
   <%=  link_to image_tag('volunteer-bg/empty_corp6.jpg',size: '1135x350'),events_path %>
   <br>
    <br>
    <br>
  <% end %>
  
  
</div>
</div>
</div>