<div class = "v_sorted">

<!-- watched events -->
<div class="container">
<div class="col-md-12">
  
<% if @watch_events.any? %>
<h3><%= @watch_title %></h3>
  <% @watch_events.each do |event| %>
        <div class="one_event row">  
       <div class="event_pic col-md-6">
        <%= link_to (image_tag event.avatar.url(:medium), size: '250x250'), event_path(event)  %>   
      </div>
  
  
      <div class="col-md-6">
      <div>
        <br>
         <br>
        <%= event.name %>   
      </div>
      <div>
        <%= event.description %>   
      </div>
  
      <div>
        <%= event.start.to_formatted_s(:short) %>   
        <br>
        <br>
      </div>
      
      <% if current_user?(@user) %>
      <!-- display 'Opt out' btn on user's profile -->
        <div>   
        <%= form_for(current_user.event_volunteers.find_by(event_id: event.id), 
              html: { method: :patch }) do |f| %>
          <div>
            <%= hidden_field_tag :attending, "false" %>
          </div>
          <%= f.submit "Remove from watchlist", class: "btn btn-default" %>
        <% end %>
        </div>
        
       
        <br>
        <div>
        <%= form_for(current_user.event_volunteers.build) do |f| %>
          <div>
            <%= hidden_field_tag :event_id, event.id %>
            <%= hidden_field_tag :attending, "true" %>
          </div>
          <%= f.submit "Attend", class: "btn btn-primary" %>
        <% end %>
        </div>
       <% end %>
       
      <!-- end display 'Opt out' btn on user's profile -->
         
        <br>
          </div>
    </div> 
    <% end %>
        
  <% else %> 
  
   <h1> Opps! No events found here <%= link_to "(find out more here)",  events_path%></h1>
     <br>
      <%=  link_to image_tag('volunteer-bg/empty_corp.jpg',size: '1150x350'),events_path %>
     <br>
    <br>
    <br>
   <br>
    <br>
    <br>
   <br>
    <br>
    <br>
  <% end %>
  
  
</div>
</div>
</div>