<% provide(:title, "Update Profile") %>

<div id="signupform">  
  
   <ul class="cb-slideshow">
    <li><span>Image 01</span><div><h3><!--fade-text-here--></h3></div></li>
    <li><span>Image 02</span><div><h3><!--fade-text-here--></h3></div></li>
    <li><span>Image 03</span><div><h3><!--fade-text-here--></h3></div></li>
    <li><span>Image 04</span><div><h3><!--fade-text-here--></h3></div></li>
    <li><span>Image 05</span><div><h3><!--fade-text-here--></h3></div></li>
    <li><span>Image 06</span><div><h3><!--fade-text-here--></h3></div></li>
  </ul>
  
  
  
  <div class="container">
    <div class="row text-center">
      <br/>
      <br/>

    </div>
  </div> 
         <br/> <br/> <br/> <br/>
      <br/>
      <br/> 
  <br/>
      <br/>   
  <div class="container">
    <div class="row centered-form">
      <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        <div class="panel panel-default">
          
          <div class="panel-heading">    
            <h3 class="panel-title"> Update your profile</h3>
          </div>
          
          <div class="panel-body">
                          
            <%= form_for @user, html: { :multipart => true } do |f| %>

              <%= render 'shared/error_messages', object: f.object %>
              
                <form role="form">
                  
                  <div class="form-group">                  
                    <%= f.text_field :name, placeholder: "Name", class: 'form-control' %>
                  </div>      
                              
                  <div class="form-group">
                    <%= f.email_field :email, placeholder: "Email", class: 'form-control' %>
                  </div>

                  <div class="form-group">
                    <%= f.text_field :location, placeholder: "Location", class: 'form-control' %>
                  </div>

                  <div class="form-group">
                    <%= f.password_field :password, placeholder: "Password",class: 'form-control' %>
                  </div>
                    
                  <div class="form-group">
                    <%= f.password_field :password_confirmation, placeholder: "Confirm Pasword", 
                                            class: 'form-control' %>            
                  </div>
                  
                  <br/>
                  <br/>
                  <div class="form-group">
                    <%= f.label :avatar, "Change Profile Picture" %>
                    <%= f.file_field :avatar %>
                  </div>
                  <br/>
                  <br/>
                            
                  <%= f.submit "Save changes", class: "btn btn-primary" %>
                            
                </form>
            

            <% end %>
                
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>