<head>
<% provide(:title, @title) %>
<!-- jquery for tabs -->
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  <script>
    $(function() {
      $( "#tabs" ).tabs();
    });
  </script>
<!-- end jquery for tabs -->
</head>

<body class = "v_event_all">
  
  <div class="dropdownbarbox">
    <div class="container">
      <div class="dropdownbox_des">
        <h1><%= @user.name %>'s Events</h1>
        <h2 style="font: 30px"><span><%= link_to "<< Back to Profile", @user %></span></h2>
      </div>
    </div>
  </div>  
  
<!--  
  <div class="match">
    <div class="container">
      #<%= (link_to 'find events', matching_path, method: :post, 
        class:"btn btn-default", remote: true) if current_user?(@user) %>
    </div>
    <div class="my_matches">
      
    </div>  
         
  </div>
-->
  
<div class="container" style="padding: 3% 0%;">
  
  <ul class="nav nav-tabs container" role="tablist" id="tabs">
  
  <li role="presentation" class="active">  
    <a href="#upcoming" aria-controls="upcoming" role="tab" data-toggle="tab">Upcoming Events (<%= @events.count() %>)</a>
  </li>
  <li>
    <a href="#watchlist" aria-controls="watchlist" role="tab" data-toggle="tab">Watchlist (<%= @watch_events.count() %>)</a>
  </li>
  <li>
    <a href="#past" aria-controls="past" role="tab" data-toggle="tab">Past Event (<%= @past_events.count() %>)</a>
  </li>
  
  </ul>

  
<div class="tab-content" style="border-color: red;">
 

  <div role="tabpanel" class="tab-pane active"  id="upcoming">
    <%= render 'event_list' %>
  </div>

  <div role="tabpanel" class="tab-pane" id="watchlist">
    <%= render 'watch_event_list' %>
  </div>
  
  <div role="tabpanel" class="tab-pane" id="past">
    <%= render 'past_event_list' %>
  </div>

 
  
</div>

</div><!--end of v_event_all-->
  
</body>
  