<% provide(:title, 'Volunteer') %>
<p id="notice"><%= notice %></p>

<h1>Listing Volunteers</h1>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Email</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
    <% @volunteers.each do |volunteer| %>
      <tr>
        
        <td><%= volunteer.name %></td>
        <td><%= volunteer.email %></td>
        <td><%= volunteer.location %></td>
        <td><%= link_to 'Show', volunteer_path(volunteer) %></td>
        <td><%= link_to 'Edit', edit_volunteer_path(volunteer) %></td>
        <td><%= link_to 'Destroy', volunteer_path(volunteer), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    
   
  </tbody>
</table>


<body class="v_index">
  
  <div class="dropdownbarbox">
    	<div class="container">
          <div class="dropdownbox_des">
 				    <h3> Find Your Way to Make a Change </h3> 
				     <h4> Wherever you like. Find your match! </h4>
         	</div>
      </div>

      <div class="btn-group">
            <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Location <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">option1</a></li>
                <li><a href="#">option2</a></li>
                <li><a href="#">option2</a></li>
            </ul>
        </div>

        <div class="btn-group">
            <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">What <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">option1</a></li>
                <li><a href="#">option2</a></li>
                <li><a href="#">option2</a></li>
            </ul>
        </div>

        <div class="btn-group">
            <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">When <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">option1</a></li>
                <li><a href="#">option2</a></li>
                <li><a href="#">option2</a></li>
            </ul>
        </div>

        <div class="btn-group">
            <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Length <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">option1</a></li>
                <li><a href="#">option2</a></li>
                <li><a href="#">option2</a></li>
            </ul>
        </div>

         <div class="btn-group">
            <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Effort <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">option1</a></li>
                <li><a href="#">option2</a></li>
                <li><a href="#">option2</a></li>
            </ul>
        </div>

        <div class="btn-group">
            <button type="button" class="btn btn-warning"> Find </button>  
        </div>
</div>

	
    
  
	<div class="search_result">
		<p>We have found xxx volunteers based on your screening criteria</p>  
	</div>
  
  <div class = "sidebar_plus_volunteers">
    <div class="col-md-2 metro"> 
 	    <div class="form">
        <label class="control-label"> CAUSE AREA </label>
        <label class="radio"> <input value="1" type="radio">animals </label>
        <label class="radio"> <input value="2" type="radio">children </label>
        <label class="radio"> <input value="3" type="radio">health care </label>
        <label class="radio"> <input value="4" type="radio">enviroment </label>
      </div>
		 	<br>

      <div class="form">
        <label class="control-label">RATINGS </label>
        <label class="radio"> <input value="1" type="radio"> 6 Stars </label> 
        <label class="radio"> <input value="2" type="radio"> 5 Stars </label> 
        <label class="radio"> <input value="3" type="radio"> 4 Stars </label> 
        <label class="radio"> <input value="4" type="radio"> 3 Stars </label> 
        <label class="radio"> <input value="5" type="radio"> 2 Stars </label> 
        <label class="radio"> <input value="6" type="radio"> 1 Stars </label>
     </div>
  	 <br>
      
      <div class="form">
         <label class="control-label"> TIME </label>
         <label class="radio"><input value="1" type="radio"> 1 Hour</label> 
         <label class="radio"><input value="2" type="radio"> 2 hours </label> 
         <label class="radio"><input value="2" type="radio"> 3 hours</label> 
         <label class="radio"><input value="2" type="radio"> 4 hours</label> 
         <label class="radio"><input value="2" type="radio"> 5 hours or above</label> 
      </div>
    </div>
	            
	  
    <div class="volunteers col-md-9 col-md-offset-1">
      <% @volunteers.each do |volunteer| %>
        <div class = "one_volunteer">
          <div class ="row">

            <div class="col-md-3">
              <div class="container">
                <div class ="volunteer_pic">
                  <img src="http://wikivillage.co.za/sites/default/files/media/garden-route-spca/garden-route-spca1.jpg" alt="description here "/>
                </div>
              </div>
            </div>

            <div class="col-md-9 ">
              <h3><%= volunteer.name %> <%= volunteer.last_name %> <%=volunteer.id%> </h3>
                <p> []</p>

              <%=button_to 'Show', volunteer_path(volunteer), :method => :get, :class => "btn btn-info"%>

            </div>
          </div>
          <!--End of Row -->
        </div>
        <!--End of one_volunteer wrappper -->
      <% end %>
    </div>
  </div>
</body>



<!--
    t.string   "name"
    t.string   "email"
    t.datetime "created_at",                        null: false
    t.datetime "updated_at",                        null: false
    t.string   "password_digest"
    t.string   "location"
    t.string   "remember_digest"
    t.string   "activation_digest"
    t.boolean  "activated",         default: false
    t.datetime "activated_at"
    t.string   "type"
    t.string   "last_name"
    t.string   "gender"
    t.string   "phone_number"
    t.string   "url"

 <div class="btn-group">
                  <button type="button" class="btn btn-info"> See More </button>
                </div>


-->

<br>

