<% provide(:title, 'Volunteer') %>
<p id="notice"><%= notice %></p>

<body class="v_index"> 
  <div class="dropdownbarbox">
    	<div class="container">
          <div class="dropdownbox_des">
 				    <h1> Volunteer Search Tool </h1> 
				    <h2> Find Eligible Volunteers! </h2>
         	</div>
      </div>
  </div>

  <div class="form-inline">
    <%= form_for :volunteer, url: {action: "search"}, html:{method: 'put'} do |f| %>
    
      
       <div class="form-group">
         <%= f.text_field :name, placeholder: "Volunteer name", class: 'form-control' %>
       </div>
      
       <div class="form-group">
         <%= f.text_field :tags, placeholder: "Search by volunteer interest", class: 'form-control' %>
       </div>

       <div class="form-group">
         <%= f.text_field :location, :size => 30, placeholder: "Volunteer location", class: 'form-control' %>
       </div>

       <div class="form-group">
         <%= f.text_field :gender, placeholder: "Gender", class: 'form-control' %>
       </div>
       
     
       <div class="form-group">      
         <%= f.submit "Search", class: "btn btn-default" %>
       </div>  
     </div>
   <% end %>
  
  <div class = "container">  
    <div class="volunteers col-md-12">
      <%= will_paginate %>
      <% @volunteers.each do |volunteer| %>
        <div class = "one_volunteer">
          <div class ="row">

            <div class="col-md-3">
              <div class="container">
                <div class ="volunteer_pic">
                  <img class="img-circle" src="http://wikivillage.co.za/sites/default/files/media/garden-route-spca/garden-route-spca1.jpg" alt="description here "/>
                </div>
              </div>
            </div>

            <div class="col-md-9 ">
              <h3><%=volunteer.name %> <%=volunteer.last_name %></h3>
                <h4>Bio:</h4>
                <p> [Bio goes here] </p>
                <p> Joining date: <%=volunteer.created_at%> </p>

              <%=button_to 'Show Profile', volunteer_path(volunteer), :method => :get, :class => "btn btn-primary"%>

            </div>
          </div>
          <!--End of Row -->
        </div>
        <!--End of one_volunteer wrappper -->
      <% end %>
      <%= will_paginate %>
    </div>
  </div>

  <h1>Listing Volunteers</h1>
  <table>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Email</th>
        <th>Location</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @volunteers.each do |volunteer| %>
        <tr>

          <td><%= volunteer.name %></td>
          <td><%= volunteer.email %></td>
          <td><%= volunteer.location %></td>
          <td><%= link_to 'Show', volunteer_path(volunteer) %></td>
          <td><%= link_to 'Edit', edit_volunteer_path(volunteer) %></td>
          <td><%= link_to 'Destroy', volunteer_path(volunteer), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
</body>



<!--
    t.string   "name"
    t.string   "email"
    t.datetime "created_at",                        null: false
    t.datetime "updated_at",                        null: false
    t.string   "password_digest"
    t.string   "location"
    t.string   "remember_digest"
    t.string   "activation_digest"
    t.boolean  "activated",         default: false
    t.datetime "activated_at"
    t.string   "type"
    t.string   "last_name"
    t.string   "gender"
    t.string   "phone_number"
    t.string   "url"

 <div class="btn-group">
                  <button type="button" class="btn btn-info"> See More </button>
                </div>


-->

<br>

