<% provide(:title, 'Volunteer') %>
<p id="notice"><%= notice %></p>

<body class="v_index"> 
  <div class="dropdownbarbox">
    	<div class="container">
          <div class="dropdownbox_des">
 				    <h1> Volunteer Search Tool </h1> 
				    <h2> Find Eligible Volunteers! </h2>
         	</div>
      </div>
  </div>

   
  <div class="search_result">
      <div class="form-inline">
        <%= form_for :volunteer, url: {action: "search"}, html:{method: 'put'} do |f| %>

           <div class="form-group">
             <%= f.text_field :name, placeholder: "Volunteer name", class: 'form-control' %>
           </div>

           <div class="form-group">
             <%= f.text_field :tags, :size => 30, placeholder: "Search by volunteer interest", class: 'form-control' %>
           </div>

           <div class="form-group">
             <%= f.text_field :location, placeholder: "Volunteer location", class: 'form-control' %>
           </div>

           <div class="form-group">
             <%= f.text_field :gender, placeholder: "Gender", class: 'form-control' %>
           </div>

           <div class="form-group">      
             <%= f.submit "Search", class: "btn btn-danger" %>
           </div>  
         <% end %>
      </div>
   </div>
  
  <div class = "container">  
    <div class="volunteers col-md-12">
      <%= will_paginate %>
      <% @volunteers.each do |volunteer| %>
        <div class = "one_volunteer">
          <div class ="row">

            <div class="col-md-3">
              <div class="container">
                <div class ="volunteer_pic">
                  <%= image_tag volunteer.avatar.url(:medium), size: '250x250' , class: 'img-circle' %>   
                  
                      
              
                   <!-- tag icons associated with volunteers -->
                  <div class="icon-holder">
                    <% icons = ["", "fa-heartbeat", "fa-paint-brush", "fa-paw", "fa-cutlery", "fa-ambulance", "fa-book", 
                                "fa-smile-o", "fa-home", "fa-child", "fa-plane", "fa-wheelchair", "fa-users", 
                                "fa-suitcase", "fa-life-ring", "fa-leaf", "fa-arrows", "fa-ship", "fa-futbol-o"] %>
       
                    <% volunteer.volunteer_tags.each do |t| %>
                      <i class="fa <%=icons.fetch(t.tag_id)%>"></i>
                    <%end%>
                  </div>  <!-- end of tag icons associated with volunteers -->
                  
                  
                </div>
              </div>
            </div>

            <div class="col-md-9 ">
              <h3><%=volunteer.name %> <%=volunteer.last_name %></h3>       
              <p> Bio: <%=volunteer.bio%> </p>
              <p> Joining date: <%=volunteer.created_at%> </p>    
              <p> Location: <%=volunteer.location%> </p>

              <%=button_to 'Show Profile', volunteer_path(volunteer), :method => :get, :class => "btn btn-primary"%>

            </div>
          </div>
          <!--End of Row -->
        </div>
        <!--End of one_volunteer wrappper -->
      <% end %>
      <%= will_paginate %>
    </div>
  </div>

  <h1>Listing Volunteers</h1>
  <table>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Email</th>
        <th>Location</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @volunteers.each do |volunteer| %>
        <tr>

          <td><%= volunteer.name %></td>
          <td><%= volunteer.email %></td>
          <td><%= volunteer.location %></td>
          <td><%= link_to 'Show', volunteer_path(volunteer) %></td>
          <td><%= link_to 'Edit', edit_volunteer_path(volunteer) %></td>
          <td><%= link_to 'Destroy', volunteer_path(volunteer), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
</body>



<!--
    t.string   "name"
    t.string   "email"
    t.datetime "created_at",                        null: false
    t.datetime "updated_at",                        null: false
    t.string   "password_digest"
    t.string   "location"
    t.string   "remember_digest"
    t.string   "activation_digest"
    t.boolean  "activated",         default: false
    t.datetime "activated_at"
    t.string   "type"
    t.string   "last_name"
    t.string   "gender"
    t.string   "phone_number"
    t.string   "url"

 <div class="btn-group">
                  <button type="button" class="btn btn-info"> See More </button>
                </div>


-->

<br>

