<%= link_to 'Go Back', volunteers_path %>

<h1>New Volunteer</h1>

<%= form_for :volunteer, url: volunteers_path do |f| %>





<p>
  <%= f.label :first_name %><br>
 
  <%= f.text_field :first_name %>
</p>

<p>
  <%= f.label :last_name %><br>
  <%= f.text_field :last_name %>
</p>

<p>
  <%= f.label :email %><br>
  <%= f.email_field :email %>
</p>

<p>
  <%= f.label :user_name %><br>
  <%= f.text_field :user_name %>
</p>

<p>
  <%= f.label :password %><br>
  <%= f.password_field :password %>
</p>

<p>
  <%= radio_button_tag(:gender, "Male") %>
  <%= label_tag(:gender_male, "Male") %>
  <%= radio_button_tag(:gender, "Female") %>
  <%= label_tag(:gender_female, "Female") %>
</p>

<p>
  <%= f.label :phone_number %><br>
  <%= f.telephone_field :phone_number %>
</p>

<p>
  <%= f.label :location %><br>
  <%= f.text_field :location %>
</p>

<p>
  <%= f.label :interests %><br>
  <%= f.text_field :interests %>
</p>

<p>
  <%= f.label :bio %><br>
  <%= f.text_area :bio %>
</p>

<p>
<%= f.submit %>
</p>
<% end %>
