<% provide(:title, 'Sign up') %>

<body class = "signup">
  
  <div class="page-scroll">
    <a href="#signupform" class="btn btn-circle">
      <i class="fa fa-angle-double-down animated"></i>
    </a>
  </div>
  
<div class ="signup_pic">
  <img src="http://www.volunteerswmi.org/servlet/servlet.ImageServer?id=015A0000004i1NcIAI&oid=00DA0000000BVISMA4" alt="description here "/>
</div>  

  
 


  
<div id="signupform">
  
<div class="container">
  <div class="row text-center">
    <br/>
    <h1>Sign up</h1>
    <br/>
  </div>
</div>
  
  
<div class="container">
<div class="row">
  <div class="col-md-6 col-md-offset-3 form-group">
    <%= form_for(@user) do |f| %>
    
      <%= render 'shared/error_messages' %>
    
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: 'form-control' %>
    
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
    

 
        <%= f.radio_button :gender, "M" %>
          Male
        <br>
     
        <%= f.radio_button :gender, "F" %>
         Female
      </div>
    
      
    
    
      <%= f.label :location %>
      <%= f.text_field :location, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Create Account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
</div>
  </div>

</body>
