

<body class="home">
  <ul class="cb-slideshow">
    <li><span>Image 01</span><div><h3><!--fade-text-here--></h3></div></li>
    <li><span>Image 02</span><div><h3><!--fade-text-here--></h3></div></li>
    <li><span>Image 03</span><div><h3><!--fade-text-here--></h3></div></li>
    <li><span>Image 04</span><div><h3><!--fade-text-here--></h3></div></li>
    <li><span>Image 05</span><div><h3><!--fade-text-here--></h3></div></li>
    <li><span>Image 06</span><div><h3><!--fade-text-here--></h3></div></li>
  </ul>
  
<div class="intro-message" id="top-of-page">
  <h1>GIVE YOUR EFFORT</h1>
  <h3>Where Charity meets Giving</h3>
  <hr class="intro-divider">
  <form class="form-wrapper cf">
    <input type="text" placeholder="Search here..." required>
    <button type="submit">Search</button>
  </form>     
          
  <div class="page-scroll">
    <a href="#categories" class="btn btn-circle" onclick="$('#categories').animatescroll({scrollSpeed:2000,easing:'easeOutBack'});">
      <i class="fa fa-angle-double-down animated"></i>
    </a>
  </div>
  
</div>
      
<!--Start container-->
  <div class="container-fluid cat-frame" id="categories">
    <!--Start row-->
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="tile">
            <%= link_to image_tag('tiles/elderly.jpg'), 
                  url_for({:controller => 'events', :action => 'search', 
                    event:{tags:'Elderly'}}), method: :put %>
            <div class="overlay" >
              Elderly 
            </div>
         </div>
      </div>   
      
      <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="tile">
            <%= link_to image_tag('tiles/arts.jpg'), 
                  url_for({:controller => 'events', :action => 'search', 
                    event:{tags:'ArtsCulture'}}), method: :put %>
            <div class="overlay" >
              Arts & Culture
            </div>
         </div> 
      </div> 
    
      <div class="col-lg-3 col-md-6 col-sm-6">        
          <div class="tile">
            <%= link_to image_tag('tiles/animals.jpg'), 
                  url_for({:controller => 'events', :action => 'search', 
                    event:{tags:'Animals'}}), method: :put %>
            <div class="overlay" >
              Animals
            </div>
         </div>
      </div> 
      
      <div class="col-lg-3 col-md-6 col-sm-6">
        
          <div class="tile">
            <%= link_to image_tag('tiles/food.jpg'), 
                  url_for({:controller => 'events', :action => 'search', 
                    event:{tags:'Food'}}), method: :put %>
            <div class="overlay" >
              Food
            </div>
         </div>
      </div>   
      
      <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="tile">
            <%= link_to image_tag('tiles/healthcare.jpg'), 
                  url_for({:controller => 'events', :action => 'search', 
                    event:{tags:'Healthcare'}}), method: :put %>
            <div class="overlay" >
              Healthcare
            </div>
         </div>
      </div> 
    
      <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="tile">
            <%= link_to image_tag('tiles/teacher.jpg'), 
                  url_for({:controller => 'events', :action => 'search', 
                    event:{tags:'Teaching'}}), method: :put %>
            <div class="overlay" >
              Teaching 
            </div>
         </div>
      </div>
      
      <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="tile">
            <%= link_to image_tag('tiles/mental.jpg'), 
                  url_for({:controller => 'events', :action => 'search', 
                    event:{tags:'MentalHealth'}}), method: :put %>
            <div class="overlay" >
              Mental Health 
            </div>
         </div>
      </div> 
    
      <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="tile">
            <%= link_to image_tag('tiles/homeless.jpg'), 
                  url_for({:controller => 'events', :action => 'search', 
                    event:{tags:'Homeless'}}), method: :put %>
            <div class="overlay" >
              Homeless 
            </div>
         </div> 
      </div> 
      
      <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="tile">
            <%= link_to image_tag('tiles/children.jpg'), 
                  url_for({:controller => 'events', :action => 'search', 
                    event:{tags:'Children'}}), method: :put %>
            <div class="overlay" >
              Children
            </div>
         </div>  
      </div> 
    
      <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="tile">
            <%= link_to image_tag('tiles/abroad.jpg'), 
                  url_for({:controller => 'events', :action => 'search', 
                    event:{tags:'Abroad'}}), method: :put %>
            <div class="overlay" >
              Abroad
            </div>
         </div> 
      </div>
      
      <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="tile">
            <%= link_to image_tag('tiles/disabled.jpg'), 
                  url_for({:controller => 'events', :action => 'search', 
                    event:{tags:'Disabled'}}), method: :put %>
            <div class="overlay" >
              Physically Disabled
            </div>
         </div> 
      </div> 
    
      <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="tile">
            <%= link_to image_tag('tiles/community.jpg'), 
                  url_for({:controller => 'events', :action => 'search', 
                    event:{tags:'Community'}}), method: :put %>
            <div class="overlay" >
              Community
            </div>
         </div> 
      </div> 
      
    
    </div>
    
    <div class="row">
      <div class="page-scroll">
        <a href="#top-of-page" class="btn btn-circle" onclick="$('#top-of-page').animatescroll({scrollSpeed:2000,easing:'easeOutBack'});">
        <i class="fa fa-angle-double-up animated"></i>
        </a>
      </div>
    
    </div>
      
    
  </div>    
<!---->
</body>


