<% provide(:title, 'Ngo') %>
<br>
<br>
<h1>Listing Ngos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Url</th>
      <th>Email</th>
      <th>Phone Number</th>     
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody> 

    <% @ngos.each do |ngo| %>
      <tr>
        <td><%= ngo.name %></td>
        <td><%= ngo.location %></td>
        <td><%= ngo.url %></td>
        <td><%= ngo.email %></td>
        <td><%= ngo.phone_number %></td>
        <td><%= link_to 'Show', ngo %></td>
        <td><%= link_to 'Edit', edit_ngo_path(ngo) %></td>
        <td><%= link_to 'Destroy', ngo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<body class="v_index">
    <div class="volunteers col-md-9 col-md-offset-1">
      <%= will_paginate %>
      <%= @ngos.each do |ngo| %>
        <div class = "one_volunteer">
          <div class ="row">

            <div class="col-md-3">
              <div class="container">
                <div class ="volunteer_pic">
                  <img src="http://wikivillage.co.za/sites/default/files/media/garden-route-spca/garden-route-spca1.jpg" alt="description here "/>
                </div>
              </div>
            </div>

            <div class="col-md-9 ">
              <h3><%= ngo.name %> <%=ngo.id%> </h3>
                <p> []</p>

              <%=button_to 'Show', ngo, :method => :get, :class => "btn btn-info"%>

            </div>
          </div>
          <!--End of Row -->
        </div>
        <!--End of one_volunteer wrappper -->
      <% end %>
      <%= will_paginate %>
      </div>
</body>


<%= link_to 'New Ngo', new_ngo_path %>

