<% provide(:title, 'Ngo') %>

<body class="n_index">
  
  <div class="dropdownbarbox">
    <div class="container">
      <div class="dropdownbox_des">
 			  <h1> NGO Lists </h1> 
				<h2>  </h2>
        </div>
      </div>
  </div>

  <div class="search_result">
    
		<h2> Give Your Effort partnered NGOs </h2>
 
	</div>
 
  <div class="container">
    <%= will_paginate %>
      <%= @ngos.each do |ngo| %>
        <div class = "one_ngo">
          <div class ="row">
            <div class="col-md-3">
              <div class="container">
                <div class ="ngo_pic">
                  <%= image_tag ngo.avatar.url(:medium), size: '250x250', class: 'img-circle' %>    
                </div>
              </div>
            </div>

            <div class="col-md-9 ">
              <h3><%= ngo.name %> </h3>
             
              <p>Location: <%= ngo.location %></p>
               <p>Website: <%= ngo.url %></p>
              <%=button_to 'Show', ngo, :method => :get, :class => "btn btn-info"%>
            </div>
          </div>
          <!--End of Row -->
        </div>
        <!--End of one_volunteer wrappper -->
      <% end %>
      <%= will_paginate %>
      </div>
  
 
</body>




<%= link_to 'New Ngo', new_ngo_path %>


<!-- following for testing purpose -->


<br>
<br>
<h1>Listing NGOs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Url</th>
      <th>Email</th>
      <th>Phone Number</th>     
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody> 

    <% @ngos.each do |ngo| %>
      <tr>
        <td><%= ngo.name %></td>
        <td><%= ngo.location %></td>
        <td><%= ngo.url %></td>
        <td><%= ngo.email %></td>
        <td><%= ngo.phone_number %></td>
        <td><%= link_to 'Show', ngo %></td>
        <td><%= link_to 'Edit', edit_ngo_path(ngo) %></td>
        <td><%= link_to 'Destroy', ngo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

