<br>
<br>
<h1>New ngo</h1>

<%= form_for :ngo, url: ngos_path do |f| %>

  <% if @ngo.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@ngo.errors.count, "error") %> prohibited
      your account from being created:
    </h2>
    <ul>
      <% @ngo.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </p>

  <p>
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </p>

  <p>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </p>

  <p>
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>

<%= link_to 'Go Back', ngos_path %>