<div class="ngo_profile_2">

<% provide(:title, @ngo.name) %>


  <div class="container target">
    

    <div class="row">
      
      <div class="col-sm-10">
        <br>
        <br>
        <br>
        <h1><%= @ngo.name %></h1>
        
          <button type="button" class="btn btn-success">Send us a message</button>
        

        <%if logged_in_ngo? && current_ngo?(@ngo) %>
          
            <button id="trigger" type="button" 
              class="btn btn-success">Create event</button>
        <% end %>
        
      </div>      
      
      <div class="col-sm-2" style="height: 300px">
        <div class="pull-right">
           <br>
        <br>
          <br>
          <%= image_tag @ngo.avatar.url(:medium), size: '250x250' %>      
        </div>
      </div>
      
     
    </div>

      <br>
      <br>
  

<!-- create an event js -->
<%if logged_in_ngo? %>
  <script>
    document.getElementById("trigger").addEventListener("click", function() {
    
      var split = $('.split').height();

      if( 0 === split ){
        
        var autoHeight = $('.split').css('height', 'auto').height();
    
        $('.split').height(0).animate(
          {'height': autoHeight }, 'slow'
        );
      }
      else{
        $('.split').animate(
          {'height': '0px'}, 'slow'
        );
      }
  
    }, true);
  </script>
<!-- end create an event js -->
<!-- create an event -->
  <div class="split">
  
    <div class="container">
      <% if @event.errors.count > 0 %>
      <script>
        $('.split').css('height', 'auto');
      </script>
      <% end %>
      <%= render template: 'events/new' %>   
    </div>
  
  </div>
<% end %>
<!-- end create an event -->
    
  <div class="container target">  
    <div class="row">
      <div class="col-sm-5">
      <!--left col-->
        <div class="panel panel-default">
          <div class="panel-heading"><strong class="">Profile</strong></div>
            <ul class="list-group">
              <li class="list-group-item text-right"><span class="pull-left"><strong class="">Joined</strong></span><%= @ngo.created_at.to_date.to_formatted_s(:long_ordinal)%></li>
              <li class="list-group-item text-right"><span class="pull-left"><strong class="">Last seen</strong></span> Yesterday</li>
              <li class="list-group-item text-right"><span class="pull-left"><strong class="">Email: </strong></span><%= @ngo.email %></li>
              <li class="list-group-item text-right"><span class="pull-left"><strong class="">Location: </strong></span><%= @ngo.location %></li>               
            
          </ul>
        </div>     
   
        
        <div class="panel panel-default">
          <div class="panel-heading"><strong class="">Activity <i class="fa fa-dashboard fa-1x"></i></strong></div>
            <ul class="list-group">

              <li class="list-group-item text-right"><span class="pull-left"><strong class=""> Events Hosted </strong></span> <%= @ngo.events.count %> </li>
        
              <li class="list-group-item text-right"><span class="pull-left"><strong class="">Average Rating</strong></span> N/A </li>
              
            </ul>
        </div>
        
         <div class="panel panel-default">
            <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>
            <div class="panel-body"><a href=@ngo.url class=""><%= @ngo.url %></a></div>
          </div>
        
        
          <div class="panel panel-default">
            <div class="panel-heading">Social Media</div>
            <div class="panel-body">	
              <i class="fa fa-facebook fa-2x"></i>  
              <i class="fa fa-github fa-2x"></i> 
              <i class="fa fa-twitter fa-2x"></i> 
              <i class="fa fa-pinterest fa-2x"></i>  
              <i class="fa fa-google-plus fa-2x"></i>
            </div>
        </div>
      </div>
      
     <!--Main panels-->
      <div class="col-sm-7" contenteditable="false" style="">
        
        
        
        <div class="panel panel-default">
          <div class="panel-heading"><%= @ngo.name %>'s Biography</div>
            <div class="panel-body"> 
              
              
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut efficitur libero, in cursus odio. Praesent auctor, leo ac placerat suscipit, nibh nibh fermentum sapien, vitae vulputate lacus ex et libero. Maecenas ac accumsan felis, in mollis augue. Cras malesuada et ante vestibulum ultricies. Aenean egestas dui non facilisis blandit. Nulla luctus nisl turpis, eu eleifend massa lobortis sed. Nunc vulputate erat dui. In viverra, sapien vel eleifend varius, urna erat interdum lectus, sit amet mattis ipsum massa et eros. Pellentesque ultricies lorem condimentum elit rhoncus iaculis. Sed ultrices, dui viverra sodales interdum, orci turpis lobortis ante, ac posuere tortor odio ut risus. Aenean et lacus auctor, convallis est dictum, vulputate metus. Morbi tempor justo ut finibus ultricies. Mauris vehicula, metus sit amet ultrices eleifend, turpis nulla consequat neque, quis pharetra elit nunc sit amet dolor. Aenean ac posuere enim. Cras at vulputate mi. Nunc diam leo, pretium non erat vel, tristique interdum purus. Morbi lobortis sed nisl id vestibulum. Vivamus in est tincidunt urna accumsan luctus. Fusce in facilisis libero. Pellentesque sed lorem eleifend, congue magna ultricies, condimentum magna. Integer sollicitudin nunc at enim vestibulum, quis lobortis eros convallis. Vestibulum eget pharetra urna. Sed sed neque nulla.

            </div>
        </div>
     
      
      <div class="panel panel-default">
        <div class="panel-heading"><%= @ngo.name %>' Events </div>
            <div class="panel-body"> 
              
              <table class="table table-hover">
                       <thead>
                            <tr>
                             <th>Event Name</th>
                              <th>Date</th>
                            </tr>
                        </thead>
                
              
                
                         <tbody>
                           
                           <% @ngo.events.order(created_at: :desc).limit(6).each do |event| %>
                            <tr>
                              <td><%=link_to event.name, event_path(event) %> </td>
                              <td><%= event.start.to_date.to_formatted_s(:long_ordinal)%> </td>
                            </tr>
                        
                           <% end %>
                         </tbody>
                
              </table>
        
        
            </div>
      </div>

<br>
<br>
<br>
</div>