<% if @event.full? %>

  <%= button_to 'Full', 'javascript:;', class:"btn btn-danger"%>

<% else %>

  <%= form_for(current_user.event_volunteers.build, remote: true) do |f| %>

    <div>
      <%= hidden_field_tag :event_id, @event.id %>
      <%= hidden_field_tag :attending, "true" %>
    </div>

    <%= f.submit "Attend", class: "btn btn-primary" %>

  <% end %>

<% end %>