<% provide(:title, 'Events') %>
<p id="notice"><%= notice %></p>

<h1>Listing Events</h1>


<body>
    <div class="volunteers col-md-9 col-md-offset-1">
      <%= will_paginate %>
      <% @events.each do |event| %>
        <div class = "one_event">
          <div class ="row">

            <div class="col-md-3">
              <div class="container">
                <div class ="event_pic">
                  
                  <!--
                  <img src="http://wikivillage.co.za/sites/default/files/media/garden-route-spca/garden-route-spca1.jpg" alt="description here "/>
-->
                  <!-- load picture if an event has one -->
                  <%= image_tag event.picture.url if event.picture? %>
                  
                </div>
              </div>
            </div>

            <div class="col-md-9 ">
              
              <span class="ngo"><h3><%= event.name %></h3></span>
              <span class="description"> <%= event.description %> </span>

              <%= render 'volunteers/sign_up' if logged_in? %>
              
              <%=button_to 'Learn More', events_path(event), method: :get, class: "btn btn-info"%>
              
              <% if current_ngo?(event.ngo) %>
              <%= button_to "Delete", event, method: :delete,
                    data: { confirm: "Are you Sure?" },
                    :class => "btn btn-info" %>
              <% end %>

              <br/>
              <br/>
              <br/>
            </div>
          </div>
          <!--End of Row -->
        </div>
        <!--End of one_volunteer wrappper -->
      <% end %>
      <%= will_paginate %>
    </div>
</body>

	
