<% provide(:title, 'Events') %>
<p id="notice"><%= notice %></p>

<h1>Listing Events</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start</th>
      <th>End</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.start %></td>
        <td><%= event.end %></td>
        <td><%= event.location %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>

<br/>
	          	    <div class="col-md-9 123">
	          	   			<h3> Event A</h3>
	          	   			<p> This is the description XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
	          	   				XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
	          	   				XXXXXXXXXXXXXXXXXXX </p>
	          	   			<p> <b>15</b> Spaces Left</p>

	          	   			<div class="btn-group">
           						 <button type="button" class="btn btn-info"> Bookmark </button>
       						</div>

       						<div class="btn-group">
           						 <button type="button" class="btn btn-info"> Tell a friend </button>
       						</div>

       						<div class="btn-group">
                     
                    <%= link_to "Learn More", event_path %>
       						</div>

       						<div class="btn-group">
           						 <button type="button" class="btn btn-success"> Register </button>
       						</div>

	          	   			</div>
	          	   		</div>
	          	   	</div>

                    <%= link_to(image_tag("/assets/event_details/bubble2.jpg", :alt => "#", :title => "attendee1"), "volunteer_page(@user)") %>
                    <%= link_to(image_tag("/assets/event_details/bubble2.jpg", :alt => "#", :title => "attendee2"), "volunteer_page(@user)") %>
                    <%= link_to(image_tag("/assets/event_details/bubble2.jpg", :alt => "#", :title => "attendee3"), "volunteer_page(@user)") %>
                    <%= link_to(image_tag("/assets/event_details/bubble2.jpg", :alt => "#", :title => "attendee4"), "volunteer_page(@user)") %>
                    <%= link_to(image_tag("/assets/event_details/bubble2.jpg", :alt => "#", :title => "attendee5"), "volunteer_page(@user)") %>
                    <%= link_to(image_tag("/assets/event_details/bubble2.jpg", :alt => "#", :title => "attendee6"), "volunteer_page(@user)") %>
	          	   			</div>
	          	   		</div>
	          	   	</div>
<br/><br/>
