<% provide(:title, 'Events') %>
<p id="notice"><%= notice %></p>


<body class="e_index">

  <div class="dropdownbarbox">
    <div class="container">
      <div class="dropdownbox_des">
 			  <h1>Event Listing </h1> 
				<h2> Find The Best Event For You! </h2>
      </div>
    </div>
  </div>

  <div class="search_result">
	  <p>We have found xxx events based on your screening criteria</p>  
	</div>
  

  
<div class="col-md-3">    
  <div class="list-group">
      
    <a href="#" class="list-group-item" data-toggle="collapse" data-target ="#categories-checkbox">Categories</a>
      <div class ="collapse checkbox" id="categories-checkbox"> 
        <form role="form">
          
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Children
            </label>
          </div>
          
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Animal
            </label>
          </div>
          
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Teaching
            </label>
          </div>
          
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Elderly
            </label>
          </div>
          
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Outdoor
            </label>
          </div>    
          
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> All
            </label>
          </div>
          
        </form>
      </div>



    <a href="#" class="list-group-item" data-toggle="collapse" data-target ="#distance-checkbox">Distance</a>
      <div class ="collapse checkbox" id="distance-checkbox"> 
        <form role="form">
          
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Wihtin 2 km
            </label>
          </div>
          
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Withinn 5 km 
            </label>
          </div>
                   
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Within 10 km 
            </label>
          </div>
                   
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Within 20 km 
            </label>
          </div>
                   
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Within 50 km 
            </label>
          </div>
                   
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> All 
            </label>
          </div>
          
        </form>
      </div>
      

    <a href="#" class="list-group-item" data-toggle="collapse" data-target ="#startingtime-checkbox">Starting Time</a>
      <div class ="collapse checkbox" id="startingtime-checkbox"> 
        <form role="form">
            
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> 6am to 9am 
            </label>
          </div>
          
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> 9am to 12pm
            </label>
          </div>
           
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> 12pm to 3pm 
            </label>
          </div>
                   
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> 3pm to 6pm 
            </label>
          </div>
                   
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> 6pm to 9pm 
            </label>
          </div>
                   
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> 9pm to 12am 
            </label>
          </div>
                    
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> All 
            </label>
          </div>
        
        </form>
      </div>
      


    <a href="#" class="list-group-item" data-toggle="collapse" data-target ="#duration-checkbox">Duration</a>
      <div class ="collapse checkbox" id="duration-checkbox"> 
        <form role="form">
            
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Less than 1 hour 
            </label>
          </div>
          
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> 1 to 2 Hours 
            </label>
          </div>
                   
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> 2 to 3 Hours  
            </label>
          </div>
                   
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> 3 to 5 Hours 
            </label>
          </div>
                   
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Full day 
            </label>
          </div>
                   
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> All 
            </label>
          </div>
          
        </form>
      </div>
      
  </div>      
</div>
  
  
  


  
<div class="col-md-9">
<%= will_paginate %>
  <% @events.each do |event| %>    
      
    <div class = "one_event">
      <div class ="row">

        <div class="col-md-3">
          <div class="container">
            <div class ="event_pic">

            <!-- event picture (default provided) -->
            <%= link_to (image_tag event.avatar.url(:medium), size: '250x250'), event_path(event) %>

                  
                </div>
              </div>
            </div>

            <div class="col-md-8 ">
              
              <span class="ngo"><h3><%= event.name %></h3></span>
              <span class="hosting_ngo"> <h5> hosted by <%= link_to event.ngo.name, ngo_path(event.ngo)%> </h5> </span>
             <br>
              <span class="start"> <p> Start Date: <%= event.start.to_formatted_s(:short) %> </p> </span>
              <span class="end"> <p>   End Date:&nbsp; <%= event.end.to_formatted_s(:short) %> </p> </span>
               <span class="description"> <p> Event Description: <%= event.description %> </p></span>
            
              <% if event.full? %>
                <%= button_to 'Full', event_path(event),
                      method: :get, class: "btn btn-danger"%>
              <% else %>
                <%= button_to 'I want to help!', event_path(event),
                      method: :get, class: "btn btn-primary"%>
              <% end %>
              
              <%= link_to image_tag("social/facebook-icon-sm.png"), 
                    'http://www.facebook.com/sharer.php?u='+request.fullpath, 
                    :target => :blank, class: "" %>
              
              <%= link_to image_tag("social/twitter-icon-sm.png"), 
                    '#', 
                    :target => :blank, class: "" %>
              
              
              <% if current_ngo?(event.ngo) %>
                <%= button_to "Delete", event, method: :delete,
                      data: { confirm: "Are you Sure?" },
                      class: "btn btn-info" %>
              <% end %>

              <br/>
              <br/>
              <br/>
            </div>
          </div>
          <!--End of Row -->
        </div>
        <!--End of one_volunteer wrappper -->
      <% end %>
      <%= will_paginate %>
    </div>


</body>


