<% provide(:title, 'Events') %>
<p id="notice" class="id" ><%= notice %></p>

<!-- datepicker for form -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script>
  $(function() {
    $( ".datepicker" ).datepicker();
  });
  </script>
<!-- datepicker for form -->

<body class="e_index">

  <div class="dropdownbarbox">
    <div class="container">
      <div class="dropdownbox_des">
 			  <h1>Event Listing </h1> 
				<h2> Find The Best Event For You! </h2>
      </div>
    </div>
  </div>

  <div class="search_result">
	  <p><%= @msg %></p>
    

      <%= form_for :event, url: {action: "search"}, html:{method: 'put'} do |f| %>
    <div class="form-inline">
      
       <div class="form-group">
         <%= f.text_field :name, placeholder: "Event name", class: 'form-control' %>
       </div>
      
       <div class="form-group">
         <%= f.text_field :tags, placeholder: "Looking for something?", class: 'form-control' %>
       </div>

       <div class="form-group">
         <%= f.text_field :location, :size => 30, placeholder: "Where do you want to volunteer?", class: 'form-control' %>
       </div>

       <div class="form-group">
         <%= f.text_field :startdate, placeholder: "Start Date", class: 'form-control datepicker' %>
       </div>
       
       <div class="form-group">
         <%= f.text_field :enddate, placeholder: "End Date", class: 'form-control datepicker' %>
       </div>
       <div class="form-group">      
         <%= f.submit "Search", class: "btn btn-default" %>
       </div>  
     </div>
   <% end %>
	</div>
  

<!--
<div class="col-md-3">    
  <div class="list-group">
      
    <a href="#" class="list-group-item" data-toggle="collapse" data-target ="#categories-checkbox">Categories</a>
      <div class ="collapse checkbox" id="categories-checkbox"> 
        <form role="form">
          
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Children
            </label>
          </div>
          
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Animal
            </label>
          </div>
          
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Teaching
            </label>
          </div>
          
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Elderly
            </label>
          </div>
          
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Outdoor
            </label>
          </div>    
          
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> All
            </label>
          </div>
          
        </form>
      </div>



    <a href="#" class="list-group-item" data-toggle="collapse" data-target ="#distance-checkbox">Distance</a>
      <div class ="collapse checkbox" id="distance-checkbox"> 
        <form role="form">
          
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Wihtin 2 km
            </label>
          </div>
          
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Withinn 5 km 
            </label>
          </div>
                   
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Within 10 km 
            </label>
          </div>
                   
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Within 20 km 
            </label>
          </div>
                   
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Within 50 km 
            </label>
          </div>
                   
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> All 
            </label>
          </div>
          
        </form>
      </div>
      

    <a href="#" class="list-group-item" data-toggle="collapse" data-target ="#startingtime-checkbox">Starting Time</a>
      <div class ="collapse checkbox" id="startingtime-checkbox"> 
        <form role="form">
            
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> 6am to 9am 
            </label>
          </div>
          
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> 9am to 12pm
            </label>
          </div>
           
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> 12pm to 3pm 
            </label>
          </div>
                   
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> 3pm to 6pm 
            </label>
          </div>
                   
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> 6pm to 9pm 
            </label>
          </div>
                   
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> 9pm to 12am 
            </label>
          </div>
                    
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> All 
            </label>
          </div>
        
        </form>
      </div>
      


    <a href="#" class="list-group-item" data-toggle="collapse" data-target ="#duration-checkbox">Duration</a>
      <div class ="collapse checkbox" id="duration-checkbox"> 
        <form role="form">
            
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Less than 1 hour 
            </label>
          </div>
          
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> 1 to 2 Hours 
            </label>
          </div>
                   
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> 2 to 3 Hours  
            </label>
          </div>
                   
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> 3 to 5 Hours 
            </label>
          </div>
                   
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Full day 
            </label>
          </div>
                   
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> All 
            </label>
          </div>
          
        </form>
      </div>
      
  </div>      
</div>
  
-->
  


  



<div class="container ">
   
    
    <%= will_paginate %>
  
     
   

     <% @events.each do |event| %>    
  
    <div class="one_event row">  
      
    <div class ="event_pic col-md-6 ">
      <!-- event picture (default provided) -->
      <%= link_to (image_tag event.avatar.url()), event_path(event) %> 
    </div>
    
      
    <div class ="col-md-6 ">
      <span class="ngo"><h3><%= link_to event.name, event_path(event) %></h3></span>
      <span class="hosting_ngo"> <h5> hosted by <%= link_to event.ngo.name, ngo_path(event.ngo)%> </h5> </span>
      <br>
      <span class="start"> <p> Start Date: <%= event.start.to_formatted_s(:short) %> </p> </span>
      <span class="end"> <p>   End Date:&nbsp; <%= event.end.to_formatted_s(:short) %> </p> </span>
      <span class="description"> <p> Event Description: <%= event.description %> </p></span>
   
     
     
       <br>
        
   
      <% if event.full? %>
        <%= button_to 'Full', event_path(event),
              method: :get, class: "btn btn-danger"%>
      <% else %>
        <%= button_to 'I want to help!', event_path(event),
              method: :get, class: "btn btn-primary"%>
      <% end %>

      <% if current_ngo?(event.ngo) %>
        <%= button_to "Delete", event, method: :delete,
              data: { confirm: "Are you Sure?" }, class: "btn btn-info" %>
      <% end %>
      </div>
      
      
      </div>
    
      
      
     
    <!--End of one_volunteer wrappper -->
    <% end %>
     
    <%= will_paginate %>
 
   
</body>


