<% provide(:title, 'Events') %>
<p id="notice" class="id" ><%= notice %></p>

<head>
<!-- datepicker -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  
  <script>
    $(function() {
      $( ".datepicker" ).datepicker();
    });
  </script>

</head>
<!-- datepicker -->

<!-- Facebook Plug-in Javascript --> 
<script>
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_EN/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<!-- End Facebook Plug-in Javascript --> 

<!-- Begin Twitter Plug-in Javascript --> 
<script>
      window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||        {};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
</script>
<!-- End Twitter Plug-in Javascript --> 


<body class="e_index">

  <div class="dropdownbarbox">
    <div class="container">
      <div class="dropdownbox_des">
 			  <h1>Event Listing </h1> 
				<h2> Find The Best Event For You! </h2>
      </div>
    </div>
  </div>

  <div class="search_result">
	  <p><%= @msg %></p>
    

      <%= form_for :event, url: {action: "search"}, html:{method: 'put'} do |f| %>
    <div class="form-inline">
      
       <div class="form-group">
         <%= f.text_field :name, placeholder: "Event name", class: 'form-control' %>
       </div>
      
       <div class="form-group">
         <%= f.text_field :tags, placeholder: "Looking for something?", class: 'form-control' %>
       </div>

       <div class="form-group">
         <%= f.text_field :location, :size => 30, placeholder: "Where do you want to volunteer?", class: 'form-control' %>
       </div>

       <div class="form-group">
         <%= f.text_field :startdate, placeholder: "Start Date", class: 'form-control datepicker' %>
       </div>
       
       <div class="form-group">
         <%= f.text_field :enddate, placeholder: "End Date", class: 'form-control datepicker' %>
       </div>
       <div class="form-group">      
         <%= f.submit "Search", class: "btn btn-default" %>
       </div>  
     </div>
   <% end %>
	</div>
  
  <div class="container ">    
   
   <%= will_paginate %>
   <% @events.each do |event| %>    
  
   <div class="one_event row">  
     
      <!-- Facebook Button -->
  <div class="fb-share-button" data-href='<%= events_path(event) %>' data-layout="button"></div>
  <!-- End Facebook Button -->
  
    <!-- Begin Twitter Button -->
  <a class="twitter-share-button" href="https://twitter.com/intent/tweet?button_hashtag=<%=events_path(event) %>&text=My%20story%20is%20about%20this%20cool%20event%20at%20GiveYourEffort.com!%20%20Check%20it%20out!"
   data-related="twitter">
   data-size="large"
   data-count="none">
   Tweet #<%=event.name %>
  </a>
   <!-- End Twitter Button -->

   <!-- Begin Linkedin Button -->
    <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
    <script type="IN/Share" data-counter="right"></script>
   <!-- End Linkedin Button -->
      
    <div class ="event_pic col-md-6 ">
      <!-- event picture (default provided) -->
      <%= link_to (image_tag event.avatar.url()), event_path(event) %> 
     <div class="icon-holder">
       
       <% icons = ["", "fa-heartbeat", "fa-paint-brush", "fa-paw", "fa-cutlery", "fa-ambulance", "fa-book", 
                   "fa-smile-o", "fa-home", "fa-child", "fa-plane", "fa-wheelchair", "fa-users", 
                   "fa-suitcase", "fa-life-ring", "fa-leaf", "fa-arrows", "fa-ship", "fa-futbol-o"] %>
       
       <% event.event_tags.each do |t| %>
         <i class="fa <%=icons.fetch(t.tag_id)%>"></i>
       <%end%>

         </div>  
     </div>
    
      
    <div class ="col-md-6 ">
      <span class="ngo"><h3><%= link_to event.name, event_path(event) %></h3></span>
           
      
      <span class="hosting_ngo"> <h5> hosted by <%= link_to event.ngo.name, ngo_path(event.ngo)%> </h5> </span>
       
      <span class="location"> <p> Location: <%= event.location %> </p> </span>
      <span class="start"> <p> Start Date: <%= event.start.to_formatted_s(:short) %> </p> </span>
      <span class="end"> <p>   End Date:&nbsp; <%= event.end.to_formatted_s(:short) %> </p> </span>
      <span class="description"> <p> Event Description: <%= event.description %> </p></span>
       
      
     
     <span class="stars">

            <input class="star star-5" id="star-5" type="radio" name="star" value="1" />
            <label class="star star-5" for="star-5"></label>
            <input class="star star-4" id="star-4" type="radio" name="star" value="2" />
            <label class="star star-4" for="star-4"></label>
            <input class="star star-3" id="star-3" type="radio" name="star" value="3" />
            <label class="star star-3" for="star-3"></label>
            <input class="star star-2" id="star-2" type="radio" name="star" value="4" />
            <label class="star star-2" for="star-2"></label>
            <input class="star star-1" id="star-1" type="radio" name="star" value="5" />
            <label class="star star-1" for="star-1"></label>

        </span>
        <br>
         <br>
  
       <span>
      
      <% if event.full? %>
        <%= button_to 'Full', event_path(event),
              method: :get, class: "btn btn-danger il-button" , style: "display:inline;"%>
      <% else %>
        <%= button_to 'I want to help!', event_path(event),
              method: :get, class: "btn btn-primary il-button", style: "display:inline;" %>
      <% end %>

      <% if current_ngo?(event.ngo) %>
        <%= button_to "Delete", event, method: :delete,
data: { confirm: "Are you Sure?" }, class: "btn btn-info il-button", style: "display:inline;" %>
      <% end %>
      </span>
        <br>
      
     </div>
      

      </div>
      
    <!--End of one_volunteer wrappper -->
    <% end %>
     
    <%= will_paginate %>
 
  </div>  
</body>


