<style>
  /* form tags */
.col-sm-1 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    margin:5px;
    padding:0px;
    height: 80px;
    width: 80px;
    background-color:#f2f2f2;
    overflow:hidden;
}

.col-sm-1:hover {
    background:#eaeaea;
}

.col-sm-1 label {
    height: 80px;
    width: 80px;
}

.tag-btn label span {
    height: 80px;
    width: 80px;
    text-align:center;
    padding:0px;
    display:block;
  
    /* Internet Explorer 10 */
  display:-ms-flexbox;
  -ms-flex-pack:center;
  -ms-flex-align:center;

  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
}

.tag-btn label input {
    position:absolute;
    top:-20px;
}

.tag-btn input:checked + span {
    background-color:#0088cc;
    color:#fff;
}
/* end form tags */ 
</style>

<br/>
<div id="signupform">      
  <div class="container">
    <div class="row centered-form">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-default">
          
          <div class="panel-heading">    
            <h3 class="panel-title"> New Event</h3>
          </div>
          
          <div class="panel-body">
            <%= form_for @event, url: { action: 'create'}, html: { multipart: true } do |f| %>
          
            <%= render 'shared/error_messages', object: f.object %>

            <div class="form-group">
              <%= f.text_field :name, placeholder: "Name the event", class: 'form-control' %>
            </div>      
            <div class="form-group">
              <%= f.text_area :description, placeholder: "Describe the event", class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :occupancy,  "Occupancy"%>
              <%= f.number_field :occupancy, placeholder: "0", class: 'form-control' %>
            </div>

            <!-- 12 tags -->
            <label>Event Tags</label>
            <div class="form-group">
            
            <div class="col-sm-1">
              <div class="tag-btn">
                 <label>
                    <input name="tag"type="checkbox" value="Elderly"><span>Elderly</span>
                 </label>
              </div>
            </div>
            <div class="col-sm-1">
              <div class="tag-btn">
                 <label>
                    <input name="tag" type="checkbox" value="Arts & Culture"><span>Arts & Culture</span>
                 </label>
              </div>
            </div>
            <div class="col-sm-1">
              <div class="tag-btn">
                 <label>
                    <input name="tag" type="checkbox" value="Animals"><span>Animals</span>
                 </label>
              </div>
            </div>
            <div class="col-sm-1">
              <div class="tag-btn">
                 <label>
                    <input name="tag" type="checkbox" value="Food"><span>Food</span>
                 </label>
              </div>
            </div>
            <div class="col-sm-1">
              <div class="tag-btn">
                 <label>
                    <input name="tag"type="checkbox" value="Healthcare"><span>Healthcare</span>
                 </label>
              </div>
            </div>
            <div class="col-sm-1">
              <div class="tag-btn">
                 <label>
                    <input name="tag" type="checkbox" value="Teaching"><span>Teaching</span>
                 </label>
              </div>
            </div>
            <div class="col-sm-1">
              <div class="tag-btn">
                 <label>
                    <input name="tag" type="checkbox" value="Mental Health"><span>Mental Health</span>
                 </label>
              </div>
            </div>
            <div class="col-sm-1">
              <div class="tag-btn">
                 <label>
                    <input name="tag" type="checkbox" value="Homeless"><span>Homeless</span>
                 </label>
              </div>
            </div>
            <div class="col-sm-1">
              <div class="tag-btn">
                 <label>
                    <input name="tag" type="checkbox" value="Children"><span>Children</span>
                 </label>
              </div>
            </div>
            <div class="col-sm-1">
              <div class="tag-btn">
                 <label>
                    <input name="tag" type="checkbox" value="Abroad"><span>Abroad</span>
                 </label>
              </div>
            </div>
            <div class="col-sm-1">
              <div class="tag-btn">
                 <label>
                    <input name="tag" type="checkbox" value="Physically Disabled"><span>Physically Disabled</span>
                 </label>
              </div>
            </div>
            <div class="col-sm-1">
              <div class="tag-btn">
                 <label>
                    <input name="tag" type="checkbox" value="Community"><span>Community</span>
                 </label>
              </div>
            </div>
            </div>
            <!-- end 12 tags -->
            <br><br><br><br><br><br>
            
            <div class="form-group">
              <%= f.text_field :street, placeholder: "Street name / Street number", class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.text_field :address, placeholder: "Address", class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.text_field :location, placeholder: "City / Town", class: 'form-control' %>
            </div>           
            <div class="form-group">
              <%= f.text_field :postcode, placeholder: "Postcode", class: 'form-control' %>
            </div>
            <br>
            <br>           
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <%= f.label :avatar, "Add an Event Photo" %>
                  <%= f.file_field :avatar %>
                </div>
                <div class="form-group">
                  <%= f.text_field :url, placeholder: "Embed Video / Image", class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= f.label :start, "Start Date" %>
                  <%= f.datetime_select :start, class: 'form-control' %>
                </div>
              
                <div class="form-group">
                  <%= f.label :end, "End Date  " %>
                  <%= f.datetime_select :end, class: 'form-control' %>
                </div>              
            </div>
          
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
                <%= f.label :contact, "Contact Photo" %>
                <%= f.file_field :contact %>
              </div>
              <div class="form-group">
                <%= f.text_field :cname, placeholder: "Contact's name", class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.text_field :cemail, placeholder: "Contact's email", class: 'form-control' %>
              </div>
            </div>
          </div>
            <br/>
            <br/>

            <%= submit_tag 'New Event', class: "btn btn-primary" %>
            
          <% end %>
                     
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>

<!-- prevent an ngo from uploading a large image -->
<script type="text/javascript">
  $('#event_picture').bind('change', function() {
    size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
<!-- end prevent an ngo from uploading a large image -->