<h1> Detailed Event Page </h1>

<% if @event.past? %>
  
  <%= button_to "Historic Event", 'javascript:;', class: "btn btn-info"  %>

<% else %>
  <% if logged_in?%>
  <!-- sign up to an event -->
    <div class="events_signup">
      <%= render 'event_signup' %>
    </div>

    <!-- this div has been left empty to render buttons using ajax -->
    <div class="watch">
      <%= render 'watching_form'%>
    </div>

  <% else %>

    <%= button_to "Attend", login_path, 
          class: "btn btn-primary", method: :get  %>

  <%= button_to "Add to watchlist", login_path, 
          class: "btn btn-primary", method: :get  %>

  <% end %> 
  <!-- end sign up to an event -->
<% end %>
