<footer class="footer">
  <small>
    <a href="#">www.giveyoureffort.com</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",   root_path %></li>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Events", events_path %></li>
      <li><%= link_to "Volunteer", volunteer_path %></li>
      <li><%= link_to "NGO", ngo_path %></li>
    </ul>
  </nav>
</footer>