  <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">Login</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">Return Home</a>
                    </li>
                    <li>
                        <a href="#">Organisers</a>
                    </li>
                    <li>
                        <a href="#">About Us</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>






<!--
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Home",   root_path %></li>
              <li><%= link_to "About",   about_path %></li>
              <li><%= link_to "Events", events_path %></li>
              <li><%= link_to "Volunteer", volunteer_path %></li>
              <li><%= link_to "NGO", ngo_path %></li>
              
              <li id="log_in_btn"><%= link_to "Log in", '#' %></li>
              <li id="sign_up_btn"><%= link_to "Sign Up", '#' %></li>
            </ul>

    -->