<script>
  $(document).ready(function () {
    $('.dropdown-toggle').dropdown();
  });
</script>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="nbar navbar-header">
      <a class="navbar-brand" href="home">Give Your Effort</a>
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

      <div class="nbar collapse navbar-collapse navHeaderCollapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Events", events_path %></li>
          <li><%= link_to "Volunteer", volunteers_path %></li>
          <li><%= link_to "NGO", ngos_path %></li>
          <% if logged_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
                <%= current_user.name %><b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_volunteer_path(current_user) %></li>
                <li><%= link_to "My Events", events_volunteer_path(current_user) %></li>
                <li class="divider"></li>
                <li><%= link_to "Log out", vlogout_path, method: "delete" %></li>
              </ul>
            </li>
          <% elsif logged_in_ngo? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
                <%= current_ngo.name %><b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_ngo %></li>
                <li><%= link_to "Settings", edit_ngo_path(current_ngo) %></li>
                <li class="divider"></li>
                <li><%= link_to "Log out", nlogout_path, method: "delete" %></li>
              </ul>
            </li>   
          <% else %>
            <li id="log_in_btn"><%= link_to "Log in", login_path %></li>
            <li id="sign_up_btn"><%= link_to "Sign Up", signup_path %></li>
          <% end %>
      </ul>
    </div>
  </div>
</nav>



