
    <div id="signupform">
      
      <div class="container">
        <div class="row text-center">
          <br/>
          <h1>NGO</h1>
          <br/>
        </div>
      </div>
      
      
      
      <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 form-group">
          <%= form_for(@user) do |f| %>
          
          <%= render 'shared/error_messages' if params[:commit] == "Create NGO Account" %>

            <%= f.label "Name" %>
            <%= f.text_field :name, class: 'form-control' %>

            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>


            <%= f.label :location %>
            <%= f.text_field :location, class: 'form-control' %>
          
            <%= f.label :url %>
            <%= f.url_field :url, class: 'form-control' %>
           
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>

            <%= f.label :password_confirmation, "Confirmation" %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>

            <%= submit_tag 'Create NGO Account', class: "btn btn-primary" %>
            
          <% end %>
        </div>
      </div>
      </div>
        
    </div> 
