<!DOCTYPE html>
<html>
<head>

  <title> <%= page_title(yield(:title)) %> </title>
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', 
                              media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>

  
<body>
  
  
  
 <header class="col-xs-12, col-sm-12 col-md-12 col-lg-12"> 
   <%= render 'layouts/header' %>
 </header> 
  
  <div class="container-fluid">
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type} notification") %>
    <% end %>
  </div>
  
  <%= yield %>
  
  <!-- remove for final version -->
  <div>
    <%= debug(params) if Rails.env.development? %>
  </div>
  <div class="clearfix"></div>
  <!-- remove for final version -->
  
  <footer>
    <%= render 'layouts/footer' %>
    
  </footer>
  
</body>
  
</html>
